

*{
    font-family:courier,arial,helvetica;
}
body{
    background: rgb(66,51,56);
    background: linear-gradient(0deg, rgba(66,51,56,1) 22%, rgba(119,83,42,1) 47%, rgba(190,125,23,1) 73%, rgba(215,140,16,1) 88%, rgba(255,164,5,1) 98%); align-items: center;
    font-size: 20px;
    width: 100%;
}

 #header{
     text-align: center;
     color: white;
 }
 img{
    position: relative;
     margin-left: 0;
 }
 .ps{
     top: 2rem;
     position: relative;
     width: 300px;
     color: whitesmoke;
     font-weight: 1000px;
     font-size: 18px;
 }

 .button{
     background-color: red;
     border-radius: 10px;
     padding: 10px 32px;
     text-decoration: none;
     margin: 4px 2px;
     text-align: center;
     color: white;
     font-size: 18px;
     justify-content: space-between;
     margin-right: 10%;
     border-color: red;
     margin-left: 20px; 
 }
 

 .section{
     display: flex;
     align-items: center;
     margin: auto;
     width: 30%;
    
     
 }

 .sign{
      background-color: white;
     border-radius: 10px;
     padding: 10px 32px;
     text-decoration: none;
     margin: 4px 2px;
     text-align: center;
     color: white;
     font-size: 16px;
     justify-content: end;
     margin-left: 160px;
     border-color: white;


 }
 p{
     color: white;
     font-size: 18px;
 }

 .container{
     
     /* margin-left: 460px; */
     display: flex;
     flex-direction: column;
     align-items: center;
 }
 input[type=text],input[type=password] {
     width: 70%;
     padding: 15px;
     border: none;
     background: white;
     margin: 5px 0 22px 0;
     display: inline-block;
     border-radius: 10px;
 }

 input[type=text]:focus, input[type=password]:focus {
     background-color: lightgrey;
     outline: none;
 }

 .Login{
     background-color:rgb(red, green, blue);
     color: white;
     padding: 16px 20px;
     cursor: pointer;
     width: 40%;
     opacity: 0.9;
     border: none;
     border-radius: 10px;
     background-color: #FFA405;
 }
#row1{
     margin-top: 70px;
 }
 #row2{
     margin-top: 40px;
 }
 .button1{
    background-color:rgb(red, green, blue);
    color: white;
    padding: 16px 20px;
    cursor: pointer;
    width: 40%;
    opacity: 0.9;
    border: none;
    border-radius: 10px;
    background-color: #FFA405;
}
 .Login:hover {
     opacity: 1;
     color: pink;
 }

 .signup{
    
     text-align: center;
     color: white;
     
 }

 a{
    color: white;
    font-weight: 900;
    text-decoration: none;
 }
 a:hover{
     color: red;
 }

 #rem{
     color: white;
 }